@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    color: #282828;
    
}
.desktop-only {
    visibility: hidden;
}
nav ul a {
    color: #fbfbfb;
}
h1 {
    font-size: 1.75em;
    margin: 0;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    padding: 20px 0 20px 0;
}
h2 {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    font-family: 'Questrial', sans-serif;
}
h3 {
    font-size: 1em;
    margin: 0;
    padding: 10px 0 10px 0;
    font-family: 'Questrial', sans-serif;
}
h4 {
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0 10px 0;
    font-family: 'Questrial', sans-serif;
}
.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
.input-row {
    padding-top: 20px;
}
.flashes {
    line-height: 20px;    
    z-index: 1;
    position: absolute;
    top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #f7f7f7;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.error {
    background-color: #d46161;
}
.warning {
    background-color: #e0dd28;;
}
.info {
    background-color: #60cfd3;
}
.success {
    background-color: #a6d35f;
}
.flashes h4 {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
    font-weight: 400;
}
.submit-button {
    background-color: #689DA8;
}
.center-button {
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin: 0;
}
.row .col {
    padding: 0 10px 0 10px;
}
.nav-wrapper{
    background-color: #537e86;
}
.nav-wrapper a {
    color: #fbfbfb;
}
.nav-wrapper img {
    height: 50px;
    padding-top: 15%;
    padding-left: 30%;
}
.brand-logo {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 6px;
    color: #fbfbfb;
    margin-left: 10px;
}
#mobile-logo {
    height: 200px;
    background-color: #689DA8;
}
#mobile-logo img {
    margin-top: 70px;
    margin-left: 120px;
}
.dropdown-content {
    background-color: #f7f7f7;
}
.card .card-content {
    padding: 0px;
}
.card.small {
    height: 375px;
}
.card-content {
    text-align: center;
    padding: 0px;
    font-size: 12px;
}
.card .card-action {
    background-color: inherit;
    border-top: 0;
    position: relative;
    padding: 0 10px 0 10px;
}
.card .card-title {
    font-size: 0px;
    font-weight: 0;
}

.card-buttons {
    height: 50px;
    line-height: 50px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ffffff;
}
.card .card-reveal {
    padding: 0 15px 0 15px;
    background-color: #89A857;
    color: #f7f7f7;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #f7f7f7;
    margin-right: 0px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}
.fishery-card {
    background-color: #f7f7f7;
}
.fishery-address-row {
    padding-bottom: 20px;
}
.fishery-address h2 {
    padding-top: 20px;
}
.fishery-links {
    padding-top: 10px;
}
.fishery-links a {
    line-height: 14px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.ticket-span {
    display: inline-block;
    background-color: #e2e7e2;
    width: 100px;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}
.reviews-button {
    background-color: #689DA8;
    color: #f7f7f7;
}
.reports-button {
    background-color: #99C2CB;
    color: #f7f7f7;
}
.view-facilities {
    background-color: #89A857;
    color: #f7f7f7;
    height: 50px;
    line-height: 50px;
    border: none;
    cursor: pointer;
}
.view-facilities a {
    color: #f7f7f7;
}
.main-facilities {
    background-color: #7d9950;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 5px;
}
.main-facility {
    text-align: center;
}
.main-facility i {
    font-size: 2em;
}
.main-facility p {
    margin-top: 0px;
}
.facilities-list {
    text-align: center;
}
.facilities-list h3 {
    margin-top: 10px;
    text-decoration: underline;
}
.facilities-close {
    font-size: 16px;
    line-height: 30px;
    margin-right: 7px;
}
.payment-list {
    color: #faf9ae;
}
.catch-row {
    background-color: #f7f7f7;
    margin-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;
}
@media only screen and (min-width: 1025px) {
    .mobile-only {
        visibility: hidden;
    }
    .desktop-only {
        visibility: visible;
    }
    .brand-logo {
        margin-left: 0;
    }
    .card-content {
        font-size: 14px;
    }
}
