@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    color: #282828;
    
}
.desktop-only {
    visibility: hidden;
}
nav ul a {
    color: #fbfbfb;
}
h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    margin: 0;
}
h3 {
    font-size: 1em;
    margin: 0;
}
.nav-wrapper{
    background-color: #444F59;
}
.nav-wrapper a {
    color: #fbfbfb;
}
.nav-wrapper img {
    height: 50px;
    padding-top: 15%;
    padding-left: 30%;
}
.brand-logo {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 6px;
    color: #fbfbfb;
}
#mobile-logo {
    height: 200px;
    background-color: #444F59;
}
#mobile-logo img {
    margin-top: 70px;
    margin-left: 120px;
}
.dropdown-content {
    background-color: #f7f7f7;
}
.fishery-card {
    text-align: center;
}
.fishery-card h1 {
    line-height: 1em;
    
}
.facilities-main ul {
    list-style-type: none;
    display: inline;
}
@media only screen and (min-width: 1025px) {
    .mobile-only {
        visibility: hidden;
    }
    .desktop-only {
        visibility: visible;
    }
}
