{% extends "base.html" %}
{% block content %}

<h1>Add a Review for {{ fishery_contact.name }}</h1>


<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <form method="POST" action="{{ url_for('add_fishery') }}">
        <div class="row">
          <div class="input-field">
            <input id="review_heading" name="review_heading" type="text" class="validate" required>
            <label for="review_heading">Review Heading</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <textarea id="review_text" name="review_text" class="materialize-textarea" required></textarea>
            <label for="review_text">Review Text</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <textarea id="pro_text" name="pro_text" class="materialize-textarea"></textarea>
            <label for="pro_text">What did you really like? (optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <textarea id="con_text" name="con_text" class="materialize-textarea"></textarea>
            <label for="con_text">Anything you didn't like? (optional)</label>
          </div>
        </div>

        <div class="row input-row">
          <button type="submit" class="col s6 btn-large submit-button">Add Review</button>
          <button type="#" class="col s6 btn-large cancel-button">Cancel Review</button>
        </div>

      </form>
    </div>


    </form>
  </div>
</div>


{% endblock %}