{% extends "base.html" %}
{% block content %}
{% if session["user"] %}
<div class="container">
  <h1>Add a Review for {{ fishery_contact.name }}</h1>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <!-- form for submitting a review -->
        <form method="POST" action="{{ url_for('add_review', fishery_id=fishery_contact._id) }}">
          <div class="row">
            <div class="input-field">
              <input id="review_heading" name="review_heading" type="text" class="validate" required>
              <label for="review_heading">Review Heading</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <textarea id="review_text" name="review_text" class="materialize-textarea" required></textarea>
              <label for="review_text">Review Text</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <textarea id="pro_text" name="pro_text" class="materialize-textarea"></textarea>
              <label for="pro_text">What did you really like? (optional)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <textarea id="con_text" name="con_text" class="materialize-textarea"></textarea>
              <label for="con_text">Anything you didn't like? (optional)</label>
            </div>
          </div>
          <div class="row">
            <div class="range-field">
              <label for="review_rating">Rating</label>
              <input type="range" id="review_rating" name="review_rating" min="1" max="5" />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m2 offset-s3 offset-m5">
              <input type="text" id="review_date" name="review_date" class="datepicker" required>
              <label for="review_date">Date</label>
            </div>
          </div>
          <div class="row input-row">
            <button type="submit" class="col s12 m6 btn submit-button waves-effect light-green darken-2">Add</button>
            <a href="{{ url_for('reviews', fishery_id=fishery_contact._id) }}"
              class="col s12 m6 btn cancel-button waves-effect amber darken-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}