{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Send us a Message</h1>
    <p class="center-align">Got a suggestion for our site? Is there a fishery you think we need to add to the director?
        Just want to say hello?
    </p>
    <p class="center-align">Send a message below</p>
    <div class="container">
        <div class="row">
        </div>
        <!-- simple contact form -->
        <form method="POST" action="{{ url_for('contact') }}" class="card">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate"
                        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                    <label for="email">Your Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="heading" name="heading" type="text" class="validate" required>
                    <label for="heading">Your Heading</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="contact_text" name="contact_text" class="materialize-textarea" required></textarea>
                    <label for="contact_text">Your Message</label>
                </div>

                <!-- submit form -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large submit-button">
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}