{% extends "base.html" %}
{% block content %}

<h1>Reports for {{ fishery_contact.name }}</h1>
<div class="row">
    <a href="{{ url_for('add_report', fishery_id=fishery_contact._id) }}" class="btn waves-effect  light-green darken-2 col s12 m2 offset-m5">Create a Report</a>
</div>
    
    

{% for report in reports %}
<div class="row">
    <div class="col s12 m8 offset-m2 card" data-aos="fade-in">

        <div class="row">
            <div class="col s12">
                <h2>{{ report.name }}</h2>
                <h3>by {{ report.username }} on the {{ report.date.strftime('%d-%b-%Y') }}</h3>
                <p>{{ report.notes }}</p>
                <ul>
                    {% for catch in fishery_catches %}
                        {% if report._id|string == catch.report_id %}
                            <l1>{{ catch.weight }}lbs {{ catch.fish }} at {{ catch.datetime.strftime('%H:%M on the %d-%b-%Y') }}</l1><br>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="row">
                    <a href="{{ url_for('edit_report', report_id=report._id, fishery_id=fishery_contact._id) }}" class="btn waves-effect yellow darken-2 col s12">Edit this Report</a>
                </div>
            </div>
            
        </div>

        <div class="row">

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}