{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Reviews for {{ fishery_contact.name }}</h1>
    {% if session.user %}
    <div class="row">
        <a href="{{ url_for('add_review', fishery_id=fishery_contact._id) }}"
            class="btn waves-effect  light-green darken-2 col s12 m2 offset-m5">Add a Review</a>
    </div>
    {% endif %}
    {% for review in reviews %}
    <div class="row">
        <div class="col s12 m8 offset-m2 card rating-star" data-aos="fade-in">
            {% if review.rating == 1 %}
            <i class="fas fa-star"></i>
            {% endif %}
            {% if review.rating == 2 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% endif %}
            {% if review.rating == 3 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% endif %}
            {% if review.rating == 4 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% endif %}
            {% if review.rating == 5 %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i>
            {% endif %}
            <p>by {{ review.username }} on the {{ review.date.strftime('%d-%b-%Y') }}</p>
            <h2>{{ review.heading }}</h2>
            <p>{{ review.main_text }}</p>
            <h3><i class="fas fa-check-circle green-text"></i> I liked...</h3>
            <p>{{ review.pro_text }}</p>
            <h3><i class="fas fa-times-circle red-text"></i> I didn't like...</h3>
            <p>{{ review.con_text }}</p>
            {% if review.account_id == session["user"] %}
            <div class="row">
                <a href="{{ url_for('edit_review', review_id=review._id, fishery_id=fishery_contact._id) }}"
                    class="btn waves-effect yellow darken-2 col s12">Edit this Review</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}